@page
@model IndexModel
@{
    ViewData["Title"] = "Home Lab";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is just to update things for the lab assignment.</p>
</div>
